.bHistory {

  .title {
    margin-top: 0.5rem;

    .date {
      font-weight: bold;
    }
  }

  .avail,
  .own,
  .portfolio {
    font-weight: lighter;
  }

  .portfolio {
    >span {
      margin: 0 0.6rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .tooltip {
    background-color: white;
    border: solid black 1px;
    padding: 0.5rem;
    opacity: 0.8;

    .date {
      font-weight: bold;
    }

    table {
      border-spacing: 0;

      th {
        font-weight: normal;
        text-align: left;
        padding-right: 1rem;
      }

      td {
        text-align: right;
      }
    }
  }
}