.bPortfolio {
  h1 {
    font-size: 0.8rem;
    color: #707070;
    font-weight: normal;
    text-align: center;
    margin: 0.9rem 0 0.3rem 0;
  }

  .bPortfolio-full-cost {
    display: flex;
    justify-content: center;

    span {
      padding: 0 1rem;
      font-size: 2rem;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      font-size: 0.8rem;
      color: #707070;
      font-weight: normal;
      text-align: left;

      &.th-first-line {
        padding-top: 1rem;
      }
    }

    td {
      white-space: nowrap;
    }

    td.name {
      font-weight: bold;
    }

    tr.total {
      font-weight: bold;
    }

    tr.inst-main-line {
      td {
        padding-top: 1rem;
      }
    }

    tr.inst-ticker-line {
      color: #707070;
    }

    tr.op-line {
      font-weight: lighter;
    }

    button {
      cursor: pointer;
      font-style: italic;
      border: none;
      font-size: 0.7rem;
      padding: 0;
    }

    .all-cur {
      padding: 0 0.5rem;
      background-color: #f0f0f0;
    }
  }
}