.cTabs {
  display: flex;
  flex-direction: row;

  div {
    cursor: pointer;
    border: solid black 1px;
    background-color: #D8D8D8;
    padding: 0.7rem;
    text-align: center;
    width: 50%;

    &.cTabs-active-tab {
      background-color: white;
      cursor: default;
    }

    &:last-child {
      border-left-width: 0;
    }
  }
}